@using System.Configuration;
@{
    ViewBag.Title = "Config";
}

<h2>App Settings</h2>

<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var key in ConfigurationManager.AppSettings.AllKeys)
        {
            <tr>
                <td>@key</td>
                <td>@ConfigurationManager.AppSettings[key]</td>
            </tr>
        }
    </tbody>
</table>
