@model IEnumerable<AspireNetFramework.Samples.FrameworkMvc.Models.WeatherForecastModel>

@{
    ViewBag.Title = "Weather";
}

<h2>Weather Forecast</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Summary</th>
            <th>Temperature (°C)</th>
            <th>Temperature (°F)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in Model)
        {
            <tr>
                <td>@forecast.Date.ToString("dd MMM yyyy")</td>
                <td>@forecast.Summary</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
            </tr>
        }
    </tbody>
</table>
