@using AspireNetFramework.Samples.DataLibrary.Models

@model IEnumerable<City>

@{
    ViewData["Title"] = "Cities";
}

<h1>Cities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                City
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => city.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => city.Country.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
